# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystems are summarized.

**Objectives:**
- List Popular languages for Data Science
- Identify commonly used tools in Data Science
- List the commonly used libraries by Data Scientists
- Create a Single column table with 3 items
- Evaluate an arithmetic expression

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. etc.

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. dplyr
4. matplotlib
5. plotly
6. seaborn
7. etc.

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |  
| RStudio            |    
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
print(hours)

3.3333333333333335

## Author:
Sricharan Kondapalli